@charset "utf-8";

/* GENERALE 
---------------------------------------*/
/* ===== Web-Font utilizzati nella pagina */
@font-face {
    font-family: 'gandhi_sansregular';
    src: url('../fonts/GandhiSans/GandhiSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gandhi_sansitalic';
    src: url('../fonts/GandhiSans/GandhiSans-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gandhi_sansbold';
    src: url('../fonts/GandhiSans/GandhiSans-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gandhi_sansbold_italic';
    src: url('../fonts/GandhiSans/GandhiSans-BoldItalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* ============  FORMATTAZIONE DEL TESTO  ==================    */
body {
font: 1.5em/1.5em "gandhi_sansregular", Verdana, sans-serif; /* 24 px perché dimensione impostata inizialmente del body è 16px */
color: black;
background-image: url(../../img/Sfondo1.jpg);
}
h1 {
font: bold 1.3em/1.5em "gandhi_sansbold", Verdana, sans-serif; /* 32 px */
text-align: center;
text-shadow: 3px 3px 0 rgb(211,211,211);

}
h2 {
font: bold 1.25em/1.5em "gandhi_sansregular", Verdana, sans-serif; /* 30 px */ 
text-align: center;
}
.sfondo_disabilita h2 {
float: left;
width: 60%;
text-align: left;
border-bottom: 2px inset red;
}
.sfondo_dsa h2 {
float: left;
width: 60%;
text-align: left;
border-bottom: 2px inset rgb(154, 205, 50);
}
.sfondo_bes h2 {
float: left;
width: 60%;
text-align: left;
border-bottom: 2px inset rgb(105, 159, 214);
}
h3 {
font: bold 1.16em/1.5em "gandhi_sansregular", Verdana, sans-serif; /* 28 px */
text-align: center;
font-weight: bold;
}
#pagina h3 {
text-align: left;
clear: both;
}
h4 {
font: italic 1.08em/1.5em "gandhi_sansregular", Verdana, sans-serif; /* 26 px*/
text-align: left;
line-height: .5em;
}
#pagina h5 {
font: bold 1em/1em "gandhi_sansregular", Verdana, sans-serif; /* 24 px */
line-height: .5em;
margin-bottom: 1em;
padding:0;
}
#pagina h6 {
font: bold 1em/5em "gandhi_sansregular", Verdana, sans-serif;
line-height: .2em;
margin: 1em;
margin-bottom: .2em;
padding: 0;
}
.elenco_doc dd { /*Formatta le descrizioni all'interno dell'elenco*/
font-size: .8em;
margin-left: 3em; 
 }
.elenco_doc dd dt { /*Formatta definizioni all'interno delle descrizioni dell'elenco */
font-size: 0.9em;
margin-left: 2em;
}
.elenco_doc dt {
clear: both;
}
.elenco_doc small {
font-weight: lighter; 
 }
a, #pagina a {
color: black;
text-decoration: none;
}
#pagina a:hover {
color: rgb(239, 121, 104);
transition: color .5s;
-moz-transition: color .5s;
}
#pagina li a:hover {
color: black;
}
.nav li {
font: italic .8em "gandhi_sansregular", Verdana, sans-serif; /* 19 px perché 19/24 del body = 0,8*/
line-height: 1.2em;
}
.nav li ul {
font: italic 1em "gandhi_sansregular", Verdana sans-serif; /*12 px perché ul =12px*/
} 
.nav a, .elenco_dis, .elenco_dsa, .elenco_bes {
color: black;
text-decoration: none;
transition: color .5s;
-moz-transition: color .5s;
} 
.nav a:hover, .elenco_dis a:hover {
color: rgb(255, 0, 0);
transition: color .5s;
-moz-transition: color .5s;
}
.elenco_dsa a:hover {
color:rgb(78, 204, 0);
transition: color .5s;
-moz-transition: color .5s;
}
.elenco_bes a:hover {
color: rgb(0, 174, 255);
transition: color .5s;
-moz-transition: color .5s;
}
/* ====== FORMATTAZIONE ELENCO NAVIGAZIONE ========= */ 
.nav, .nav ul { /*formatta la parte generale dei due menù*/
/*background-image: url('../img/Sfondo-scuro.jpg'); */
background-color: rgb(236, 224, 208); /*colore particolare del menù preso dall'immagine*/
list-style: none; /*toglie i punti dal menù*/
margin: 0;
margin-bottom: 2%;
padding: 0; /*inizializza margini e padding posizionando i due menù nella parte più alta*/
}
.nav { /*formatta solo il menù generale*/
border-bottom: 1px solid gray;
/*border-radius: 10px; /*rende arrotondati gli spigoli */
padding-left: 10px; /*sposta leggermente il testo*/
position: relative;
z-index: 2;
margin-top: -.4em;
}
.nav li { /*formatta le voci del menù primario*/
display: inline-block;  /* sposta le voci del menù principale a sinistra e diventano flottanti per allinearle */				
border-right: 1px dotted black;
padding-right: 30px;
padding-left: 30px;
/*width: 8em; /* definisce la larghezza dei contenitori che contengono le parole della lista */
}
/*.nav li:first-child {
width: 4em;
}
.nav li:last-child {
width: 8em;
} */
.nav li ul {/*formatta il sottomenù*/
display: none; /*elimina il sottomenù finché non passa il mouse sopra una voce*/
padding: 10px;
border-radius: 10px;
background-color: rgb(236, 224, 208);
position: absolute; /*questo per renderlo indipendente dal menù iniziale*/
z-index: 1;
}
.nav li ul li {
border-right-style: none;
display: inline-block;
width: 4em;
}
.nav li:hover ul {
display: block; /*fa apparire il sottomenù quando passa sopra il mouse alla voce*/
/*position: absolute; /*posiziona il sottomenù al di fuori delle regole in una posizione assoluta altrimenti si sposterebbero tutte le voci
del menù principale per fare posto alle secondarie*/
margin-left: -35px; /*sposta il sottomenù a sinistra per allineare le parole tra loro*/
}
.nav li ul li {
display: block; /*porta a capo riga le voci del sottomenù*/
line-height: 1.5;
}
/*===================== Formattazione parte centrale ========================*/
abbr:hover {
cursor: help;
}
/* .cornice {	
display: block;
width: 90%;
margin: auto;
} */
#intestazione {
border-bottom: 2px dotted gray;
margin-top: 4em;
}
/*Formattazione contenitore generale e degli spazi più piccoli*/
.contenitore {
margin: 2% 5% 2% 5%;
}
div[role="complementary"] {
width: 27%;
padding: 1%;
border: 2px solid black;
border-radius: 3%;
box-shadow: 2px 2px 3px black;
margin: 1.5%;
float: left;
min-height: 10em;
transition: background-color 1s;
}
/* Formattazione spazio 1*/
.spazio1 {
background-color: rgb(255, 186, 186);
}
.spazio1:hover{
background-color: rgb(255, 102, 102);
}
/* Formattazione spazio 2*/
.spazio2 {
background-color: rgb(212, 237, 196);
}
.spazio2:hover {
background-color: rgb(153, 204, 51);
}
/*Formattazione spazio 3*/
.spazio3 {
background-color: rgb(178, 230, 255);
}
.spazio3:hover {
background-color:  rgb(102, 204, 255);
}
#indice_alunni {
background-color: rgb(255, 215, 175);
margin: 3em;
margin-bottom: 2em;
border: 2px solid black;
border-radius: 20px;
box-shadow: 2px 2px 3px black;
padding: 1em;
clear: both;
}

#indice_alunni:hover {
background-color: rgb(255, 127, 0);
transition: background-color 1s;
}

/*Formattazione delle aree specifiche ---  */
#disabilita, #DSA, #BES {
margin: 2%;
background-color: rgb(255, 186, 186);
border-top: 1px solid black;
border-bottom: 1px solid black;
padding: .5em;
clear: both;
}
.elenco_dis {
padding-left: 2em;
list-style: url('../../img/freccia_rossa.png');
}
#DSA {
background-color: rgb(212, 237, 196);
}
.elenco_dsa {
list-style: url('../../img/freccia_verde.png');
padding-left: 2em;
}
#BES {
background-color: rgb(178, 230, 255);
}
.elenco_bes {
list-style: url('../../img/freccia_blu.png');
padding-left: 2em;
}
/* Formattazione del footer */
footer {
/*width: 90%;
margin: auto; */
background-color: rgb(236, 224, 208);
border-top: 1px solid black;
padding: .2em;
line-height: 1em;
}
/*==Formattazione pagine interne =======*/
.sfondo_disabilita {  /* Solo per disabilità */
background-color:  rgb(255, 186, 186);
padding: 20px;
border-radius: 10px;
}
.sfondo_dsa { /*Solo per i DSA*/
background-color: rgb(212, 237, 196);
padding: 20px;
border-radius: 10px;
}
.sfondo_bes { /*Solo per i BES*/
background-color: rgb(178, 230, 255);
padding: 20px;
border-radius: 10px;
}
#pagina { /* Per tutte le pagine bianche */
background-color: white;
padding: 10px;
border-radius: 10px;
}
#pagina img {
position: relative;
top: .2em;
 }
#pagina dd dt img {
position: relative;
top: .2em;
width: 1.2em;
}
#pagina ul {
margin: 0px;
margin-right: 5%;
padding: 0px;
float: right;
}
#pagina li {
list-style-type: none;
display: inline-block;
border: 1px solid black;
border-radius: 10px;
background-color: rgb(255, 186, 186);
padding: 10px;
margin: 20px;
box-shadow: 3px 3px 1px gray;
}
#pagina .nav_dsa li {
background-color: rgb(212, 237, 196);
}
#pagina .nav_bes li {
background-color: rgb(178, 230, 255);
}
#pagina li:hover {
background-color: rgb(255, 102, 102);
transition: background-color 1s;
}
#pagina .nav_dsa li:hover{
background-color:  rgb(153, 204, 51);
transition: background-color 1s;
}
#pagina .nav_bes li:hover{
background-color:  rgb(102, 204, 255);
transition: background-color 1s;
}
#pagina .elenco_doc dd ul {
float: none;
margin: 0px;
padding: 0px;
}
#pagina .elenco_doc dd ul li {
list-style-type: circle;
display: list-item;
background: none;
margin: 0px;
padding: 0px;
border: none;
box-shadow: none;
margin-left: 50px;
}
#pagina .torna_su {
float: right;
margin-right: 30px;
}
figure {
display: inline-block;
}
figcaption {
text-align: center;
font-style: italic;
}
blockquote {
font-style: italic;
margin-left: 10%;
margin-right: 10%;
}
img {
border: none;
}