@media screen 
  and (max-width: 770px) 
  and (max-height: 770px) { 
    body {
        font-size: 1rem; /*tutti i testi più grandi*/
    }
}
@media only screen 
  and (max-width: 770px) 
  and (max-height: 770px) { 
    img {    /*tutte le immagini ingrandite*/
        display: inline-block;
        width: 6vw;
        padding: .2em;
    }
    .link {position: relative;} /*per non sovrapporre le immagini al titolo*/


    .link > a > img, a > img {
        width: 8vw; 
      }

    .apri_articolo {
        width: 5.5%; /*la + verde per aprire*/
    }
    .articolo_apre {
        border: .15em solid gray; /*il bordino del riquadro*/
    }

    figcaption {
        font-size: .5em; /*per ridurre le scritte sotto le immagini*/
    }

    .nav_interno {
        font-size: .8rem;
    }
}
